# Coding Exercises (Part 2)

### Exercise 11: Cleaning messy Data

## Full Data Workflow A-Z: Cleaning Data

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Option 1: Self_guided

__Import__ the cars dataset from the csv-file __cars_unclean.csv__ and inspect. Then, __clean up__ the dataset:

- Identify and handle __inconsistent data__
- Each column/feature should have the __appropriate/most functional datatype__
- Identify and handle __missing values__
- Identify and handle __duplicates__
- Have a closer look into columns with __strings__ and clean up
- Identify and handle __erroneous outliers__ in numerical columns
(hint: there might be a "fat finger" issue in one column and some value(s) in the mpg column could be in "gallons per mile" units)
- __Save and export__ the cleaned dataset in a new csv-file (cars_clean.csv)
- Change the datatype of appropriate columns to __categorical__.

--------------------------

## Option 2: Guided and Instructed

# STOP HERE, IF YOU WANT TO DO THE EXERCISE ON YOUR OWN!

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [1]:
# run the cell!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# run the cell!
cars = pd.read_csv("cars_unclean.csv")

__Inspect__ the DataFrame and identify obviously __inconsistent data__!

In [3]:
# run the cell!
cars.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO
5,15.0,8,429.0,198.0 hp,4341,10.0,70,usa,FORD GALAXIE 500
6,14.0,8,454.0,220.0 hp,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0 hp,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0 hp,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0 hp,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0 hp,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0 hp,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0 hp,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0 hp,3086,10.0,70,usa,buick estate wagon (sw)
14,22.0,6,198.0,95.0 hp,2833,15.5,70,usa,plymouth duster
15,18.0,6,199.0,97.0 hp,2774,15.5,70,usa,amc hornet
16,21.0,6,200.0,85.0 hp,2587,16.0,70,usa,ford maverick
17,26.0,4,97.0,46.0 hp,1835,20.5,70,europe,vw 1131 deluxe sedan
18,25.0,4,110.0,87.0 hp,2672,17.5,70,europe,peugeot 504
19,24.0,4,107.0,90.0 hp,2430,14.5,70,europe,audi 100 ls

In [4]:
# run the cell!
cars.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
319,25.0,4,104.0,95.0 hp,2375,17.5,70,europe,saab 99e
320,14.0,8,340.0,160.0 hp,3609,8.0,70,usa,plymouth 'cuda 340
321,13.0,8,360.0,170.0 hp,4654,13.0,73,usa,plymouth custom suburb
322,16.0,6,258.0,110.0 hp,3632,18.0,74,usa,amc matador
323,24.3,4,151.0,90.0 hp,3003,20.1,80,usa,amc concord
324,12.0,8,429.0,198.0 hp,4952,11.5,73,usa,mercury marquis brougham
325,27.0,4,101.0,83.0 hp,2202,15.3,76,europe,renault 12tl
326,17.0,6,250.0,100.0 hp,3329,15.5,71,usa,chevrolet chevelle malibu
327,14.5,8,351.0,152.0 hp,4215,12.8,76,usa,ford gran torino
328,25.0,6,181.0,110.0 hp,2945,16.4,82,usa,buick century limited

In [5]:
# run the cell! 
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           329 non-null    float64
 1   cylinders     329 non-null    int64
 2   displacement  329 non-null    float64
 3   horsepower    329 non-null    object
 4   weight        329 non-null    int64
 5   acceleration  329 non-null    float64
 6   model year    329 non-null    int64
 7   origin        329 non-null    object
 8   name          329 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 23.3+ KB

85. __Identify__ one __column label__ that should be changed and adjust/__rename__ the column label! __Fill in the gaps__!

In [ ]:
cars.---(columns = {--- : ---}, inplace = True)

86. Have a closer look to the __origin__ column by analyzing the __frequency/count__ of unique values! Can you find __any inconsistency__?

There are the values ... usa and United States

87. __Replace__ the value __"United States"__ in the origin column! __Save__ the change!

Inspect and __identify__ the __problem__ in the column __horsepower__!

In [ ]:
# run the cell!
cars.horsepower.head()

Datatype should be ... numerical. But first of all, we need to remove...?

88. Apply the appropriate __string operation__ to __remove "hp"__ from the horsepower column! Pay attention to __whitespaces__! __Overwrite__ the horsepower column!

In [ ]:
# run the cell and inspect!
cars.head()

Run and inspect, anything __strange__?

In [ ]:
# run the cell!
cars.horsepower.value_counts()

There are 6 entries with the value ... "Not available"

89. Create __"real" missing values__ in the column horsepower! __Save__ the change! __Fill in the gaps__!

In [ ]:
cars.horsepower.---("Not available", ---, inplace = True)

90. Now you can __convert the datatype__ in the column __horsepower__! __Overwrite__ the column!

Inspect!

In [ ]:
# run the cell!
cars.info()

In [ ]:
# run the cell!
cars.head(7)

Any __inconsistencies__ in the column __name__? Inspect one element!

In [ ]:
#run the cell!
cars.loc[4, "name"]

It seems like some names are uppercase, while others are lowercase. And there are some excess whitespaces in the strings.

91. __Convert__ all names to __lowercase__ and __remove all whitespaces__ on the left ends and right ends! __Overwrite!__

Run the next two cells and identify (erroneous) outliers in the numercial columns!

In [ ]:
# run the cell!
cars.describe()

In [ ]:
# run the cell!
cars.plot(subplots = True, figsize = (15,12))
plt.show()

92. Inspect the column __model_year__ in more detail by analyzing the __frequency/counts__ of unique values! Anything __strange__?

There are 5 entries with ... 1973 instead of 73.

93. __Replace__ the value __1973__! __Save__ the change!

94. Inspect the column __weight__ by __sorting__ the values from __high to low__. Can you see the __extreme value__?

The by far highest value is ... 23000 lbs. Must be an error!

95. __Select__ the complete __row__ of the outlier with the method __idxmax()__!

It´s an opel manta ... could be a "fat finger" problem, weight could be 2300 instead of 23000.

96. __Overwrite__ the erroneous outlier! __Fill in the gaps__!

In [ ]:
cars.loc[---, ---] = 2300

Inspect the column __mpg__! Any strange __outlier__?

In [ ]:
# run the cell!
cars.mpg.sort_values()

An mpg of ... 0.060606 cannot be correct...

97. __Select__ the complete __row__ of the outlier with the method __idxmin()__!

98. After some research we have found out that this extreme value is in __"gallons per mile"__ units instead of "miles per gallon". <br>
__Convert__ to __"miles per gallon"__ units! __Fill in the gaps__!

In [ ]:
cars.loc[---, ---] = ---/cars.loc[---, ---]

99. Next, select all __rows__ with at least one __missing__/na value! __Fill in the gaps__!

In [ ]:
cars.loc[cars.---.---]

There are 6 cars, where the horsepower is unknown.

100. As horsepower is an important feature in the cars dataset, we decide to remove all 6 rows. __Remove__ and __save__ the change!

Now let´s find __duplicates__. First, we need to understand __which columns__ we have to take into consideration to identify duplicates.

101. The first __naive assumption__ is that two cars cannot have the __same name__. Let´s count the number of __name-duplicates__. __Fill in the gaps__!

In [ ]:
cars.duplicated(--- = [---]).sum()

There are ... 86 potential duplicates to remove.

102. Let´s inspect the __duplicated pairs__ by selecting __all instances__ of a name duplicate! __Fill in the gaps__! <br>
Should the __name__ be the __only criteria__ to identify duplicates?

In [ ]:
cars.loc[cars.duplicated(--- = [---], --- = False)].sort_values("name")

No! Cars can have several vintages/model_year and several variants with different technical specifications (e.g. weight, horsepower)

103. To be on the safe side, let´s include __all columns__ to identify duplicates. __Count__ the number of duplicates! __Fill in the gaps__!

In [ ]:
cars.---.---

There are ... 10 potential duplicates.

104. Let´s inspect the __duplicated pairs__ by selecting __all instances__ of a duplicate! __Fill in the gaps__!

In [ ]:
cars.loc[cars.duplicated(---)].sort_values("name")

All pairs seem to be real duplicates.

105. __Drop one instance__ of each duplicated pair! __Save__ the change!

In [ ]:
# run the cell
cars.head()

In [ ]:
# run the cell!
cars.info()

106. Our dataset seems to be pretty clean now! __Save__ and __export__ to a new csv-file (cars_clean.csv)! Do not export the RangeIndex!

Call the __describe()__ method on all __non-numerical columns__!

In [ ]:
# run the cell!
cars.describe(include = "O")

Are there any __categorical features__ (only few unique values) where the datatype could be __converted to "category"__? <br>
107. If so, __convert__ and __overwrite__ the column(s)!

__Inspect__. Did we __reduce memory usage__?

In [ ]:
#run the cell!
cars.info()

Yes, we reduced memory usage!

# Well Done!

-----------------------------------------

# Hints (Spoiler!)

85. rename() method, column "model year"

86. value_counts() method

87. replace() method

88. string(str) method replace(), " hp"

89. replace() method, np.nan

90. astype() method, "float"

91. string(str) methods lower() and strip()

92. value_counts() method

93. replace() method

94. sort_values() method

95. Filter cars with cars.weight.idxmax()

96. cars.weight.idxmax(), "weight"

97. Filter cars with cars.mpg.idxmin()

98. cars.mpg.idxmin(), "mpg", 1/x

99. methods isna() and any()

100. dropna() method

101. subset parameter, "name"

102. keep parameter

103. methods duplicated() and sum()

104. keep parameter

105. drop_duplicates() method

106. to_csv() method

107. astype() method